<div class="pagination">
  <%= will_paginate @terms %>
</div>

<p>
  If any of these results seems incorrect, please report it using the link next to the article.
</p>

<% @terms.each do |term| %>
  <% next unless term.articles.any? %>

  <h2 id="term<%= term.id %>" class="termHeading <%= term.effect %>">
    <em><%= h(term.value) %></em>
    <% case term.effect; when :cause %>
      <strong class="cause">cause<%= "s" unless term.plural? %></strong>
    <% when :prevent %>
      <strong class="prevent">prevent<%= "s" unless term.plural? %></strong>
    <% when :both %>
      both <strong class="cause">cause<%= "s" unless term.plural? %></strong>
      and <strong class="prevent">prevent<%= "s" unless term.plural? %></strong>
    <% end %>
    cancer
    <a href="#term<%= term.id %>" class="directLink">#</a>
  </h2>

  <% if term.causes? %>
    <ul class="cause">
      <% term.causes_articles.each do |article| %>
        <li>
          <%= link_to article.title, article.link %>
          <span class="debug">[<%=
            link_to("Incorrect?", new_correction_path(:article_id => article.id, :normalized_term_id => term.id, :good => 0))
            %>]</span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if term.prevents? %>
    <ul class="prevent">
      <% term.prevents_articles.each do |article| %>
        <li>
          <%= link_to article.title, article.link %>
          <span class="debug">[<%=
            link_to("Incorrect?", new_correction_path(:article_id => article.id, :normalized_term_id => term.id, :good => 1))
            %>]</span>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="pagination">
  <%= will_paginate @terms %>
</div>
