<div id="summary">
  <h2><%= h @article.title %></h2>
  <p><%= h @article.summary %></p>
</div>

<div id="classify">
  <% form_for @vote do |f| %>
    <%= f.hidden_field :article_id %>

    <div class="row">
      <%= f.label :general, "What kind of a thing is it?" %>
      <%= f.text_field :general %>
    </div>

    <ul>
      <li>
        Be <strong>as terse as possible</strong>, e.g. “wine”, “sun”, “HRT”.
      </li>
      <li>
        If the article refers to more than one thing, <strong>separate them with commas</strong>, e.g.
        “fruit, vegetables”.
      </li>
      <li>
        <strong>Capital letters don’t matter</strong>.
      </li>
      <li>
        If the article isn’t about something that causes or prevents cancer, or if it’s ambiguous, <strong>skip it</strong>.
      </li>
    </ul>

    <div class="row">
      <%= f.submit "Causes cancer",   :name => "cause" %>
      <%= f.submit "Prevents cancer", :name => "prevent" %>
      <%= f.submit "Skip this",       :name => "skip" %>
    </div>

  <% end %>
</div>

